
<div class="container">
  <div>
    <h3>Angular Calculator</h3>
    <div>
      <div class="form-group" >
        @for (r of results; track $index) {
          <div *ngIf="!errormessage"> {{ r.operation }} = {{  r.result }}</div>
        }
        <div >
          <input class="input-result" [formControl]="inputControl" >
        </div>
        <div class="error" *ngIf="errormessage">
          invalid enterence.
        </div>

      </div>
      <div >
        <button class="operand" type="button" (click)="pressNum('+')">+</button>
        <button class="operand" type="button" (click)="pressNum('-')">-</button>
        <button class="operand" type="button" (click)="pressNum('*')">*</button>
        <button class="operand" type="button" (click)="pressNum('/')">/</button>
      </div>
      <div class="buttons">
        <div>
          <button class="numbers" type="button" (click)="pressNum('7')">7</button>
          <button class="numbers" type="button" (click)="pressNum('8')">8</button>
          <button class="numbers" type="button" (click)="pressNum('9')">9</button>
        </div>
        <div>
          <button class="numbers" type="button" (click)="pressNum('4')">4</button>
          <button class="numbers" type="button" (click)="pressNum('5')">5</button>
          <button class="numbers" type="button" (click)="pressNum('6')">6</button>
        </div>
        <div>
          <button class="numbers" type="button" (click)="pressNum('1')">1</button>
          <button class="numbers" type="button" (click)="pressNum('2')">2</button>
          <button class="numbers" type="button" (click)="pressNum('3')">3</button>
        </div>
        <div>
          <button class="numbers" type="button" (click)="pressNum('0')">0</button>
          <button class="numbers" (click)="pressNum('.')">.</button>
          <button class="numbers" (click)="pressNum('%')">%</button>
        </div>

      </div>
      <div class="result">
        <button class="clear" type="button" (click)="clear()">Clr</button>
        <button class="delete" type="button" (click)="deleteAll()">Delete All</button>
        <button class="equal" type="button" (click)="calculate()">=</button>
      </div>
    </div>
  </div>  
</div>