
<div class="container">
  <div>
    <h3>Angular Calculator</h3>
    <div>
      <div class="result">
        @for (r of results; track $index) {
          <div> {{ r.operation }} = {{  r.result }}</div>
        }
        <div >
          <input class="input-result" [formControl]="inputControl" >
        </div>
        <div class="error" *ngIf="errormessage">
          invalid enterence.
        </div>
      </div>

      <div class="numbers">
        <button *ngFor="let button of buttons" class="button" type="button" (click)="pressNum(button)">{{button}}</button>
        <button class="clear" type="button" (click)="clear()">Clear</button>
        <button class="delete" type="button" (click)="deleteAll()">Delete All</button>
        <button class="equal" type="button" (click)="calculate()">=</button>
      </div>
    </div>
  </div>
</div>
